/*Universal selector*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: var(--programming-font);
}

/*Root selector*/
:root{
  --programming-font:'Fira Code', monospace, Arial;
  --programming-blue: rgb(29, 183, 255);
}

/*Body selector*/
body{
  background-color: black;
}

/*flexbox selector*/
.flex{
  display: flex;
}

/*Header selector for navbar*/
header{
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 5;
  border: 0.5px solid rgba(73, 73, 73, 0.767);
  border-top: none;
  border-left: none;
  border-right: none;
}

/*Logo container selector*/
.logo-container{
  float: left;
}

/*Logo picture selector*/
.logo-pic{
  width: 50px;
  height: 60px;
  margin: 4px -8px 0 15px;
  transform: scale(0.7);
}

/*Logo text selector*/
.logo-text{
  font-size: 1rem;
  padding: 22px 0 0 5px;
  text-transform: uppercase;
  font-family: var(--programming-font);
  font-weight: bold;
}

/*Logo text semi colon selector*/
.logo-semi-colon{
  color: rgb(243, 87, 87);
}

/*Logo text dash selector*/
.logo-dash{
  padding: 0 3px 0 3px;
  color: var(--programming-blue);
}

/*selector for line with typing animation*/
.typing{
  animation-name: typing-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*navbar container selector*/
.navbar{
  justify-content: flex-end;
}

/*navbar list selector*/
.navbar li{
  margin: 5px;
  padding: 16px 10px 0 5px;
  font-family: var(--programming-font);
  font-size: 1.1rem;
  width: auto;
}

/*navbar list on hovered pseudo selector*/
.navbar li a:hover{
  color: var(--programming-blue);
  font-size: 1.2rem;
}

/*navbar list selected selector*/
.navbar li .select{
  color: orange;
}

/*navbar list "<>" selector when list is not selected by default*/
.highlight{
  display: none;
}

/*navbar list "<>" selector when list is selected or highlighed*/
.navbar li .select .highlight, .navbar li a:hover .highlight{
  display: inline;
}

/*navbar divider selector*/
.dot-divider{
  font-size: 1.3rem;
  padding-top: 14px;
}

/*navbar list last child selector to adjust the margin*/
.navbar li:last-child{
  margin-right: 15px;
}

/*quick menu attaching checkbox selector, disable that*/
#check{
  display: none;
}

/*quick menu selector, disable it by default unless screen is compressed*/
.menubtn{
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: none;
}

/*welcome page container selector*/
.welcome-page{
  /*border: 5px solid brown;*/
}

/*welcome page gif selector*/
#video-background{
  max-width: 100%;
  position: abs;
  height: auto;
  
  /*border: 4px solid green;*/
}

/*welcome page heading selector*/
.welcome-page p{
  font-size: 2.5rem;
  font-family: (--programming-font);
  font-weight: bold;
  color: rgba(199, 199, 199, 0.568);
  position: absolute;
  bottom: 0;
  top:  550px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  height: auto;
  width: auto;
  text-align: center;
  z-index: 0;
  /*border: 1px solid blue;*/
}

/*welcome page gif attribute selector*/
.pic-ref{
  color: rgba(128, 128, 128, 0.753);
  font-family: var(--programming-font);
  font-size: 0.6rem;
  position: absolute;
  bottom: 0;
  top:  70px;
  left: 15px; 
  right: 0; 
  margin-left: 0; 
  margin-right: auto; 
  height: 20px;
  width: 200px;
  text-align: left;
}

.pic-ref span{
  color: rgba(128, 128, 128, 0.753);
}

/*change gif attribute color*/
.pic-ref a:first-child{
  color: rgb(243, 192, 232, 0.753);
}

/*change gif attribute color*/
.pic-ref a:last-child{
  color: var(--programming-blue);
}

.about-page{
  font-size: 0.9rem;
  text-align: left;
  margin: 30px 50px 0 50px;
  /*display: none;*/
}

.about-page :not(:first-child){
  color: rgb(192, 191, 191);
}

/*media query to hide the navbar to compress as a quick menu for mobile responsiveness*/
@media screen and (max-width: 810px) {
  .navbar li, .navbar .dot-divider{
    display: none;
  }

  .menubtn{
    display: inline;
    align-self: flex-end;
  }

  .welcome-page p{
    font-size: 1rem;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 0;
    top: 150px;
    z-index: 0;
    width: auto;
    text-align: center;
  }

  .pic-ref{
    font-size: 0.4rem;
    margin-left: 20px;
  }

  .about-page{
    font-size: 0.5rem;
    margin: 0 15px 0 15px;
  }

}


@media screen and (max-width: 270px) {
  /*Hide the LOO ZHENG-JIE logo when the screen is too small*/
  .logo-text{
    display: none;
  }
  
}


/*Typing effect animation*/
@keyframes typing-animation {
  0% {
    opacity: 1;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
}
}

