/*Universal selector*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: var(--programming-font);
}

/*Root selector*/
:root{
  --programming-font:'Fira Code', monospace, Arial;
  --programming-blue: rgb(29, 183, 255);
}

/*Body selector*/
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-content: flex-start;
  position: fixed;
}

/*flexbox selector*/
.flex{
  display: flex;
}

/*Hidden class*/
.hidden{
  opacity: 0;
  visibility: hidden;
}

/*border preview*/
.border{
  border: 1px solid white;
}

/*Preloader container*/
.preloader{
  display: inline-block;
  margin: 10px 0 0 10px;
}

/*Preloader main text*/
.preloader p label{
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

/*Preloader animated text*/
.preload-text{
  white-space: nowrap;
  overflow: hidden ;
  text-align: left;
  width: 0%;
  animation: key-typing 2s steps(30) 1.5s;
  animation-fill-mode: forwards;
}

/*Header selector for navbar*/
header{
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 5;
}

/*Logo container selector*/
.logo-container{
  float: left;
}

/*Logo picture selector*/
.logo-pic{
  width: 50px;
  height: 60px;
  margin: 4px -8px 0 15px;
  transform: scale(0.7);
}

/*Logo text selector*/
.logo-text{
  font-size: 1rem;
  padding: 22px 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}

/*Logo text semi colon selector*/
.logo-semi-colon{
  color: rgb(243, 87, 87);
}

/*Logo text dash selector*/
.logo-dash{
  padding: 0 3px 0 3px;
  color: var(--programming-blue);
}

/*selector for line with typing animation*/
.typing{
  animation-name: typing-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*navbar container selector*/
.navbar{
  justify-content: flex-end;
}

/*navbar list selector*/
.navbar li{
  margin: 5px;
  padding: 16px 10px 0 5px;
  font-size: 1.1rem;
  width: auto;
}

/*navbar list on hovered pseudo selector*/
.navbar li a:hover{
  color: var(--programming-blue);
  font-size: 1.2rem;
}

.mobile:hover{
  color: var(--programming-blue);
  font-size: 0.9rem;
}

/*navbar list selected selector*/
.navbar li .active{
  color: orange;
}

/*navbar list "<>" selector when list is not selected by default*/
.highlight{
  display: none;
}

/*navbar list "<>" selector when list is selected or highlighed*/
.navbar li .active .highlight, .navbar li a:hover .highlight{
  display: inline;
}

/*navbar divider selector*/
.dot-divider{
  font-size: 1.3rem;
  padding-top: 14px;
}

/*navbar list last child selector to adjust the margin*/
.navbar li:last-child{
  margin-right: 15px;
}

/*quick menu attaching checkbox selector, disable that*/
#check{
  display: none;
}

/*quick menu selector, disable it by default unless screen is compressed*/
.menubtn{
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: none;
}

/*The cross in quick menu*/
#quick-menu-cross{
  display: none;
}

/*Preloader*/
.preloader{
  background-color: black;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 99%;
  text-align: left;
  margin:0;
  padding: 10px;
}

/*Preloader-image*/
.loading-logo{
  width: 15px;
  height: 20px;
  margin-top: 0px;
  transform: scale(0.5px);
  
}

/*Preloader rotate animation*/
.rotate{
  animation-name: rotate-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.content-pages{
  /*display: flex;*/
  position: relative;
  flex-direction: column;
}

.content-pages section{
  width: 100%;
  text-align: center;
  position: fixed;
  height: 95dvh;
}

.content-pages section:first-of-type{
  /*border: 1px solid white;*/
  /*background-image: url("https://media.githubusercontent.com/media/loozhengjie/PersonalPortfolio/main/gifs/videobackground4.gif");*/
  background-color: green;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center 0px ;
}

.content-pages section h1{
  padding-top: 370px;
  color: rgb(180, 175, 175);
}

/*Footer*/
.footer{
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  margin-top: auto;
}
/*Footer logo*/
.footer-logo{
  width: 20px;
  height: 25px;
}
/*Footer text content*/
.footer p{
  padding: 2px 0 0 10px;
}





/*media query to hide the navbar to compress as a quick menu for mobile responsiveness*/
@media screen and (max-width: 810px) {
  .navbar li, .navbar .dot-divider{
    display: none;
  }

  .menubtn{
    display: inline;
    align-self: flex-end;
  }

  .preloader{
    font-size: 0.6rem;
  }

  .loading-logo{
    width: 10px;
    height: 11px;
    transform: scale(0.5px);
  }

  .content-pages section:first-child{
    background-position: center 10px;
  }

  .content-pages section h1{
    font-size: 0.9rem;
  }

  .footer-logo{
    width: 15px;
    height: 16px;
  }

  .footer{
    font-size: 0.5rem;
    margin-top: auto;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  /*Hide the LOO ZHENG-JIE logo when the screen is too small*/

}

@media screen and (max-width: 330px) {
  /*Hide the LOO ZHENG-JIE logo when the screen is too small*/
  
}


@media screen and (max-width: 270px) {
  /*Hide the LOO ZHENG-JIE logo when the screen is too small*/
  .logo-text{
    display: none;
  }
  
}


/*Typing effect animation*/
@keyframes typing-animation {
  0% {
    opacity: 1;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
}
}

/*Typing effect animation*/
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
}
}

/*Typing effect animation*/
@keyframes key-typing {
  from {width:0}
  to {width: 120%};
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

