/* Base Selector */
/* Universal Selector */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Universal Focus Selector */ 
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Root selector (variables) */
:root{
  /* font-size: 62.5%; */
  --programming-font: 'Fira Code', Consolas, monaco, monospace;
  --programming-green: #46FC46;
}

/* Body and Anchor Selector */
body, a{
  color: var(--programming-green);
}

/*Body selector*/
body{
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  position: relative;
  width: 100%;
  text-decoration: none;
  font-family: var(--programming-font);
}

/* Image Selector */
img {
  max-width: 100%;
}

/* List selector */
ul{
  list-style: none;
}

/* ---------- */

/* utility classes */
/* Flex box class */
.flex{
  display: flex;
}

/* Hidden class */
.hidden{
  display: none;
}

/* border preview class */
.border{
  border: 1px solid white;
}

/* container class */
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* selector for line with typing animation */
.typing{
  animation-name: typing-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fade-in{
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.key-typing{
  white-space: nowrap;
  overflow: hidden ;

  width: 0%;
  animation: key-typing 2s steps(90) 1.5s;
  animation-fill-mode: forwards;
}

.text-center{
  text-align: center;
}

/* ---------- */

/* Header */
header{
  flex-direction: column;
  align-items: center;
}

#main-logo {
  margin-top: 56px;
}

#text-logo {
  margin-top: 5px;
}
/* ---------- */

/* Nav bar */
.nav{
  margin: auto;
  display: flex;
  flex-direction: column;

}

.nav p{
  display: inline-block;
  text-align: center;
  letter-spacing: 0.05px;
  font-size: 7px;
  margin-bottom: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 10px 0px 0px 0px;

}

.nav-item {
  margin: 0px 10px; 
}

.nav-item a {
  text-decoration: none;
  font-size: 13px;
}

/* About-me */
.hero{
  text-align: left;
  margin-bottom: 30px;
}

.hero > *{
  padding: 0px 30px;
  font-weight: normal;
}

.hero h1{
  font-size: 26px;
}

.hero h2{
  font-size: 16px;
  margin-bottom: 5px;
}

.hero p{
  font-size: 10px;
}

.hero .CTA-buttons ul{
  display: flex;
  flex-direction: row;
}

.hero .CTA-buttons ul li{
  margin-right: 15px;
  margin-top: 10px;
}

.about-me{
  display: flex;
  font-size: 10px;
  margin: auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.about-me h2{
  font-size: 16px;
  font-weight: normal;
}

.about-me-profile-pic{
  border: 1px solid var(--programming-green);
  margin-left: 20px;
}



.skillsets{
  text-align: center;
}

.skillsets h2{
  font-size: 16px;
  font-weight: normal;
  border: 1px solid var(--programming-green);
  margin: 0px 30px;
}

.skillsets-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px; 
  margin: 10px 30px 20px 30px;
}

.skillsets-list li{
  background: #A1FEA1; /* or any background */
  color: #1D4B1D;
  text-align: center;
}

/* Hide the logo text in navbar when width is too small */
@media screen and (max-width: 375px) {
  .logo-text{
    display: none;
  }
}

/* Mobile S*/
@media screen and (min-width: 320px) {
  .container{
    max-width: 300px;
  }
}

/* Mobile M*/
@media screen and (min-width: 375px) {
  .container{
    max-width: 375px;
  }
}

/* Mobile L*/
@media screen and (min-width: 425px) {
  .container{
    max-width: 425px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container{
    max-width: 700px;
  }

}

/* Laptop*/
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1024px;
  }
}

/* Laptop L*/
@media screen and (min-width: 1440px) {
  .container{
    max-width: 1440px;
  }
}

