*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}

:root{
  --programming-font:'Fira Code', monospace, Arial;
}

body{
  background-color: black;
}


#video-background{
  position:fixed;
  z-index: -1;
  max-width: 1000px;
  right: 0;
  left: 40%;
  height: auto;
  text-align: center;
}



.pic-ref{
  position: absolute;
  bottom: 0;
  color: rgba(128, 128, 128, 0.753);
  float: left;
  font-family: var(--programming-font);
  font-size: 0.7rem;
  padding: 0 0 5px 15px;
}

.pic-ref a:first-child{
  color: rgb(243, 192, 232, 0.753);
}

.pic-ref a:last-child{
  color: rgba(101, 202, 241, 0.753);
}



.logo{
  display: flex;
  float: left;
}

.logo.one{
  width: 50px;
  height: 60px;
  margin: 4px -8px 0 15px;
  transform: scale(0.7);
}

.logo-semi-colon{
  color: rgb(243, 87, 87);
}

.logo-dash{
  padding: 0 3px 0 3px;
  color: rgb(87, 243, 243);
}

.logo.two{
  font-size: 1rem;
  padding: 22px 0 0 5px;
  text-transform: uppercase;
  font-family: var(--programming-font);
  font-weight: bold;
}

.logo.three{
  font-size: 1.5rem;
  padding: 17px 0 0 1px;
}

.typing{
  animation-name: typing-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}


.navbar li{
  margin: 5px;
  padding: 16px 10px 0 5px;
  font-family: var(--programming-font);
  font-size: 1.1rem;
}

.navbar li a:hover{
  color: rgb(29, 183, 255);
  font-size: 1.2rem;
}

.navbar li .select{
  color: orange;
  font-size: 1.2rem;
}

.navbar li .select .highlight{
  display: inline;
}

.dot-divider{
  font-size: 1.3rem;
  padding-top: 18px;
}

.highlight{
  display: none;
}

.navbar li a:hover .highlight{
  display: inline;
}

.navbar li:last-child{
  margin-right: 15px;
}

#check{
  display: none;
}

.menubtn{
  color: white;
  font-size: 20px;
  padding: 20px;
  display: none;
}

.welcome-page{
  position: relative;
}

.welcome-page p{
  font-size: 5rem;
  font-family: (--programming-font);
  font-weight: bold;
  color: rgba(199, 199, 199, 0.568);
  position: absolute;
  bottom: 0;
  top: 200px;
  left: 150px;
  display: inline;
  width: 40%;
}

@media screen and (max-width: 790px) {
  .navbar li, .navbar .dot-divider{
    display: none;
  }

  .menubtn{
    display: inline;
    align-self: flex-end;
  }

  #video-background{
    left: 10px;
  }
}


@media screen and (max-width: 700px) {
  .welcome-page p{
    left: 70px;
    font-size: 4rem;
  }

  #video-background{
    left: -10px;
  }
}

@media screen and (max-width : 600px) {
  .welcome-page p{
    font-size: 3rem;
  }

  #video-background{
    left: -40px;
  }
}

@media screen and (max-width: 350px) {
  .logo.two{
    display: none;
  }

  .welcome-page p{
    font-size: 4rem;
    top: 120px;
    left: 40px;

  }

  #video-background{
    left: -200px;
    top: 10px;
  }


}

@keyframes typing-animation {
  0% {
    opacity: 1;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
}
}

